@import "src/styles/system/vars";

.field {
    width: 100%;
    background: $white;
    border: 1px solid $gray2;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 8px 12px;
    letter-spacing: 0.15px;
    color: $fieldColor;
    transition: 0.2s;

    &:focus {
        border-color: $black;
        color: $black;
    }
}