@import "src/styles/system/vars";

.list {
    margin-bottom: 30px;

    li {
        display: flex;
        align-items: center;
        padding: 10px 12px;
        cursor: pointer;
        transition: 0.2s;
        margin-bottom: 5px;
        border-radius: 4px;

        &:hover {
            background-color: rgba($white, 0.6);
        }

        &.active {
            background: $white;
            box-shadow: 0 2px 5px rgba($black, 0.05);
        }

        > i {
            margin-right: 8px;
            font-size: 0;
            display: flex;
            width: 18px;
            height: 18px;
            align-items: center;
            justify-content: center;

            img {
                opacity: 0.6;
            }
        }

        span {
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
    }

    &__add-button {
        svg {
            path {
                stroke: $gray;
                transition: 0.2s;
            }
        }

        span {
            color: $gray;
            transition: 0.2s;
        }

        &:hover {
            svg {
                path {
                    stroke: $black;
                }
            }

            span {
                color: $black;
            }
        }
    }
}
