// colors
$black: #000;
$white: #fff;
$gray: #767676;
$gray2: #efefef;

// todo
$sidebarBg: #f4f6f8;
$todoBorderColor: #F1F1F1;

// field
$fieldColor: #c7c7c7;

// button
$greenButtonBg: #4dd599;
$grayButtonColor: #9c9c9c;
$grayButtonBg: #f4f6f8;