// colors
$black: #000;
$white: #fff;
$gray: #767676;
$gray2: #efefef;
$blue: #64c4ed;

// todo
$sidebarBg: #f4f6f8;
$todoBorderColor: #F1F1F1;

// field
$fieldColor: #c7c7c7;

// button
$greenButtonBg: #4dd599;
$grayButtonColor: #9c9c9c;
$grayButtonBg: #f4f6f8;

// tasks color

$checkboxDefaultBorderColor: #e8e8e8;
$checkboxActiveColor: #4dd599;
$checkboxHoverColor: #f2f2f2;
$checkboxIconHoverColor: #b2b2b2;