@import "styles/system/default";
@import "styles/system/vars";

.todo {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 750px;
    height: 530px;
    transform: translate(-50%, -50%);
    box-shadow: 2px 2px 11px -4px #c4c4c4;
    border-radius: 10px;
    border: 1px solid $todoBorderColor;
    overflow: hidden;
    font-size: 14px;

    &__sidebar {
        padding: 48px 20px;
        background: $sidebarBg;
        width: 200px;
        height: 100%;
        border-right: 1px solid $todoBorderColor;
    }
}
